body {
  background-color: indigo;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

canvas {
  border: 4px solid #ff6600;
  border-radius: 8px;
  background-color: #feff9d;
  margin-top: 0.5rem;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.3rem auto;
  padding-top: 0.5rem;
  width: 100%;
}

button {
  background-color: #fdef05;
  border-radius: 8px;
  border-color: #ff6600;
  font-family: inherit;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
}

button:not(:last-child) {
  margin-right: 10px;
}

.messages {
  display: flex;
  text-align: center;
  margin: 0.3rem auto;
  width: 80%;
  max-width: 460px;
}

.messages div {
  margin: 0 auto;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}

.conteo-juego {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 10, 32, 0.9);
  overflow: hidden;
}

.number-conteo {
  font-size: 50px;
  color: #fff;
  animation-name: numeroConteo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes numeroConteo {
  0% {
    transform: scale(1);
    color: rgba(255, 255, 255, 0.8);
  }
  50% {
    transform: scale(15);
    color: rgba(255, 255, 255, 0.6);
  }
  75% {
    color: rgba(255, 255, 255, 0.4);
  }
  100% {
    color: transparent;
  }
}

.fin-juego {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 10, 32, 0.9);
  position: absolute;
  backdrop-filter: blur(5px);
}

.lose-vida {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 10, 32, 0.9);
  position: absolute;
  backdrop-filter: blur(5px);
}

.active {
  display: flex;
}

.d-none {
  display: none;
}

.fin-juego div {
  font-size: 60px;
}

.fin-juego p {
  text-align: center;
  font-size: 30px;
}

.lose-vida div {
  font-size: 60px;
}

.lose-vida p {
  text-align: center;
  font-size: 30px;
}

.game-restart {
  width: 150px;
}

@media (max-width: 440px) {
  button {
    margin-top: 0.2rem;
  }

  .messages {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5rem auto;
    width: 80%;
    max-width: 460px;
  }

  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}

@media (max-width: 538px) {
  #reset {
    margin-top: 1rem;
  }

  .game-container {
    height: auto;
  }
}
